:root {
  --topNavHeight: 40px;
  --fontSizeHeading: 22px;
  --fontSizePara: 12px;
  --lineHeightPara: 24px;
  --marginMedium: 24px;
  --marginLarge: 32px;
}

html, body {
  overflow: hidden;
  background: black;
}

@media screen and (min-width: 768px) {
  :root {
    --topNavHeight: 100px;
    --fontSizeHeading: 48px;
    --fontSizePara: 16px;
    --marginMedium: 32px;
    --marginLarge: 48px;
  }
}

h1 {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
}

p,
li,
a {
  font-size: var(--fontSizePara);
  line-height: var(--lineHeightPara);
  font-family: 'Montserrat', sans-serif;
}

.link {
  font-size: var(--fontSizePara);;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.link:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: blue;
}

#horizontal-container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100vw;
  height: 100vh;
}

.site-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .site-wrapper {
    display: block;
  }
  #horizontal-container {
    width: auto;
    height: 100vh;
    overflow: scroll;
  }
}

#horizontal-container img {
  width: 75vw;
  margin-right: 10%;
}

#horizontal-container img:nth-child(1) {
  margin-left: 5%;
}

@media screen and (min-width: 768px) {
  #horizontal-container img {
    width: 468px;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  #horizontal-container {
    margin-left: 33vw;
  }
}





/* NAV STYLES */
.text-logo {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 16px;
  left: 16px;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
}
.logo {
  width: 100px;
  position: absolute;
  top: 16px;
  left: 16px;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
}
.top-nav {
  list-style: none;
  padding: 0 var(--marginLarge);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--topNavHeight);
  margin-left: auto;
  /* background: red; */
  position: absolute;
}

.top-nav li {
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .top-nav {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* SIDEBAR STYLES */

.sidebar {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
  /* background: black; */
  /* border-radius: 4px; */
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  padding: 16px;
  overflow-y: scroll;
}

.sidebar-title {
  text-align: center;
}

.sidebar-content-wrapper {
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nft-info {
  /* display: flex; */
  /* flex-direction: column; */
}

/* .sidebar-button-wrapper {
  display: flex;
  align-items: end;
} */

.sidebar-index {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 175px;
    right: 60px;
    left: auto;
    top: 60px;
  }
  .project-container {
    margin-left: calc(33vw + 60vh);
  }
  .sidebar {
    border-top: none;
    border-right: 1px solid black;
    width: 33vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;
  }
  .sidebar-wrapper {
    height: 100vh;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidebar-title {
    text-align: left;
  }
  .sidebar-content-wrapper {
    display: block;
  }
  .sidebar-button-wrapper {
    margin-top: var(--marginMedium);
  }
  .sidebar-index {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 60px;
  }
}
